<html>
    <head>
        <title>Angular Search</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body ng-app="Search">
        <div ng-controller="myctrl">
            Search: <input type="text" ng-model="searchText" placeholder="search employees"/>
            <br/><br/>
            <table border=2>                
                <tr>
                        <th>Names</th>
                        <th>D.O.B</th>
                        <th>Gender</th>
                        <th>Salary</th>
                        <th>City</th>
                    </tr>
                    <tr ng-repeat="employee in employees |filter:searchText">

                        <td>{{employee.name | uppercase}}</td>
                        <td>{{employee.dateofbirth | date:"dd/MM/yyyy"}}</td>
                        <td>{{employee.gender| lowercase}}</td>
                        <td>{{employee.salary | number:2}}</td>
                        <td>{{employee.city}}</td>

                    </tr>
            </table>
        </div>
        <script>
            angular.module("Search",[])
            .controller("myctrl",function($scope){
                $scope.employees=[
                    {name:"Ben", dateofbirth: new Date("November 23 1988"), gender:"Male",salary:55000.788, city:"Dallas"},
                    {name:"Lisa", dateofbirth: new Date("March 10 1990"), gender:"Female",salary:75000, city:"Denver"},
                    {name:"Stuart", dateofbirth: new Date("july 15 1975"), gender:"Male",salary:68000,city:"Denver"},
                    {name:"Zack", dateofbirth: new Date("August 3 1985"), gender:"Male",salary:53000, city:"Dallas"},
                    {name:"Moira", dateofbirth: new Date("October 9 1991"), gender:"Female",salary:60000,city:"Fremont"}
                ];
            });
        </script>
    </body>
</html>